<a href="https://colab.research.google.com/github/AlessandroXavierOcasion/CPEN-21A-CPE-1-1/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop statement

In [5]:
week = ["Sunday","Monday","Wednesday","Thursdasy","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Wednesday
Thursdasy
Friday
Saturday

The Break Statement

In [11]:
week = ["Sunday","Monday","Wednesday","Thursdasy","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break
    print(x)

Sunday
Monday
Wednesday
Thursdasy
Friday
Saturday

Looping through a String

In [13]:
for x in "week":
  print(x)

w
e
e
k

The Range() Function

In [15]:
for x in range(6):
  print(x)

for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [16]:
adjectives = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjectives:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While loop Statement

In [19]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

The break Statement

In [20]:
i = 1
while i<6:
  print(i)
  if i== 3:
    break
  i+=1

1
2
3

In [23]:
i = 1
while i<6:
  i+=1
  if i== 3:
    continue
  print(i)

2
4
5
6

The else Statement

In [24]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application1
Create Python program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8 
Hello 9
Hello 10

In [28]:
hello = ["Hello 0", "Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

i= 0
while i<=10:
  print("hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

Application 2

In [29]:
i = 3
while i<10:
  print(i)
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9

In [30]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [31]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9